In [6]:
import pandas as pd
import numpy as py
import matplotlib.pyplot as plt

# Needed for API key
from dotenv import load_dotenv
import os
import requests

In [7]:
key = os.getenv('key')

In [8]:
url = f'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol=GME&apikey={key}'
r = requests.get(url)
data = r.json()

In [17]:
data['Meta Data']

{'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
 '2. Symbol': 'GME',
 '3. Last Refreshed': '2025-03-05',
 '4. Output Size': 'Compact',
 '5. Time Zone': 'US/Eastern'}

In [13]:
gme_data = data['Time Series (Daily)']

In [14]:
df = pd.DataFrame.from_dict(gme_data, orient = 'index')
df

            1. open  2. high   3. low 4. close 5. volume
2025-03-05  24.3300  25.1600  24.1100  25.0700   3282452
2025-03-04  23.7700  24.8600  23.4400  24.3000   5068726
2025-03-03  25.2600  25.4800  24.1800  24.4000   4290981
2025-02-28  24.3300  25.0965  24.2000  25.0400   4137068
2025-02-27  25.0000  25.3700  24.1400  24.4800   4589982
...             ...      ...      ...      ...       ...
2024-10-15  21.4500  21.6800  20.9750  21.2700   4851908
2024-10-14  20.7500  21.6700  20.4600  21.3300   6636553
2024-10-11  20.6600  21.2200  20.6600  20.8300   3931552
2024-10-10  20.4700  21.0450  20.3750  20.9100   4180798
2024-10-09  20.5000  20.7400  20.3000  20.5000   3914000

[100 rows x 5 columns]

In [18]:
# get rid of 1s and 2s in front of column names
df.columns = df.columns.str.replace(r"^\d+\.\s*", "", regex=True)

In [19]:
df.isnull().sum()

open      0
high      0
low       0
close     0
volume    0
dtype: int64